{% extends 'base1.html' %}
{% load i18n %}
{% load static %}
{% block title %} {% trans 'Reviews' %} {% endblock %}

{% block content %}
{% load stars %}

<div class="container mt-2 mb-2">
    <div class="col-12 text-center">
      <h2 class="pt-4">{% blocktrans %}All Reviews{% endblocktrans %}</h2>
      <div class="border-top border-primary w-25 mx-auto my-3"></div>
      <p><a href="{% url 'leave_review' %}" class="btn btn-primary">{% trans 'Leave Review' %}</a></p>
    </div>

    {% for review in reviews %}
      <div class="mb-4">
        <p class="fst-italic">{% trans 'Author' %}: {{ review.author.username }}</p>
        <p class="text-dark">{{ review.text }}</p>
        <p class="fw-bold text-dark">{{ review.rating|stars }} | {{review.created_on.date}}</p>
        {% if review.author == request.user %}
        <a href="{% url 'edit_review' review.id %}" class="btn btn-info btn-sm">{% trans 'Edit' %}</a>
        <a href="{% url 'delete_review' review.id %}" class="btn btn-danger btn-sm">{% trans 'Delete' %}</a>
        {% endif %}
        <hr>
      </div>
    {% endfor %}
</div>
{% endblock %}





