{% extends 'base1.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5 mb-5">
    <div class="max-width-container" style="max-width: 500px; margin: 0 auto;">
        <h2>Leave a Review</h2>
        <form method="post" action="{% url 'leave_review' %}" class="crispy-form mx-auto">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary mt-3">Submit Review</button>
        </form>
    </div>
</div>
{% endblock %}

