{% extends "base1.html" %}
{% load i18n %}
{% load allauth crispy_forms_tags %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center mt-4">
            <div class="col-md-8 mb-4">
                <div class="card">
                    <div class="card-body">
                        {% element h1 %}
                            {% if token_fail %}
                                {% trans "Bad Token" %}
                            {% else %}
                                {% trans "Change Password" %}
                            {% endif %}
                        {% endelement %}
                        {% if token_fail %}
                            {% url 'account_reset_password' as passwd_reset_url %}
                            <p>
                                {% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please request a {% endblocktrans %}<a href="{{ passwd_reset_url }}">{% trans 'new password reset' %}</a>.
                            </p>
                        {% else %}
                            {% element form method="post" action=action_url %}
                                {% slot body %}
                                    {% csrf_token %}
                                    {{ form|crispy }} 
                                {% endslot %}
                                {% slot actions %}
                                    <button type="submit" class="btn btn-primary" name="action">{% trans 'Change Password' %}</button>
                                {% endslot %}
                            {% endelement %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
