{% extends "base1.html" %}
{% load i18n allauth %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center mt-4">
            <div class="col-md-8 mb-4">
                <div class="card">
                    <div class="card-body">
                        {% element h1 %}
                            {% trans "Change Password" %}
                        {% endelement %}
                        <p>{% trans 'Your password is now changed.' %}</p>
                        <a href="{% url 'account_login' %}">{% trans 'Login with new password' %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
