{% extends 'base1.html' %}
{% load i18n %}
{% load static %}
{% load markdown_extras %}
{% block title %}Blog{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">

<div class="posts-container mt-5">
    <div class="fixed_blog-background">
        <div class="row text-light py-5">
            <div class="col-12 text-center">
                <h1>{% trans 'You are welcome to read, relax and feed your soul' %}...</h1>
                <h3 class="py-4">{% trans 'Feel free to leave us your thoughts and ideas in comments below' %}</h3>
            </div>
        </div>
        <div class="fixed_blog-wrap">
            <div class="fixed_blog"></div>
        </div>
    </div>
    {% block category %}{% endblock %}
    <div class="posts-container mt-5 custom-width">
        {% block posts %}
            {% for post in posts %}
                <div class="post">
                    <img src="{{ post.image.url }}" alt="{{ post.title }}">
                    <div class="post-content">
                        <h2 class="post-title"><a href="{% url 'blog_detail' post.pk %}">
                            {% if request.LANGUAGE_CODE == 'es' and post.title_es %}
                                {{ post.title_es }}
                            {% else %}
                                {{ post.title }}
                            {% endif %}
                        </a></h2>
                        <div class="post-meta">
                            <span class="post-date">{{ post.created_on.date }} | {% trans 'Categories' %}:</span>
                            <span class="post-category">
                                {% for category in post.categories.all %}
                                    <a href="{% url 'blog_category' category.name %}">
                                        {% if request.LANGUAGE_CODE == 'es' and category.name_es %}
                                            {{ category.name_es }}
                                        {% else %}
                                            {{ category.name }}
                                        {% endif %}
                                    </a>
                                {% endfor %}
                            </span>
                        </div>
                        <p>
                            {% if request.LANGUAGE_CODE == 'es' and post.body_es %}
                                {{ post.body_es | slice:":400" | markdown | safe }}...
                            {% else %}
                                {{ post.body | slice:":400" | markdown | safe }}...
                            {% endif %}
                        </p>
                    </div>
                </div>
            {% endfor %}
        {% endblock posts %}
    </div>
</div>

{% endblock %}
